html{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* background: rgb(102, 244, 107); */
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button{
  margin-top: 20px;
  padding: 7px 14px;
  border-radius: 5px;
  background: black;
  color: white;
}

button:hover{
  background: rgb(98, 227, 98);
  color: black;
}

h1{
 text-transform: uppercase;

}




  body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #fff9f9;
    text-align: center;
    padding: 30px;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    background-color: #ff90b3;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: #ff6a9f;
  }

  img {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin-top: 20px;
  }

