html{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* background: rgb(102, 244, 107); */
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button{
  margin-top: 20px;
  padding: 7px 14px;
  border-radius: 5px;
  background: black;
  color: white;
}

button:hover{
  background: rgb(98, 227, 98);
  color: black;
}

h1{
 text-transform: uppercase;

}

